@use '../styles/text.scss';

@include text.emphasis;
@include text.italicized;
@include text.thick-headings34;

article.selected-job {
    height: 100%;
}

.calendar-container {
    background-color: rgba(128,128,128,0.1);
    padding: 0.25rem;
}

.action-buttons {
    margin-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.job-page-header {
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;

    h1 {
        margin-bottom: 0.25rem;
    }

    button {
        border: 1px solid black;
    }
}

.job-page-body-footer {
    border-top: 1px solid black;
    margin-top: 4em;
}

.job-description-body {
    margin-top: 1rem;
}

.job-status {
    padding: 0.33rem;

    @include text.job-status-text;
}
