@use '../styles/text.scss';

@include text.emphasis;
@include text.italicized;

.calendar-container {
    background-color: rgba(128,128,128,0.1);
    padding: 0.25rem;
}

.action-buttons {
    margin-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.job-page-header {
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;

    h1 {
        margin-bottom: 0.25rem;
    }

    button {
        border: 1px solid black;
    }
}
