@use 'SASS:map';
@use '@angular/material' as mat;
@use '../../theming.scss' as global;
@use '../styles/text.scss';

@include text.emphasis;
@include text.require-text;

$color-config: mat.get-color-config(global.$theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');

$top-gradient: mat.get-color-from-palette($primary-palette, 50);
$bottom-gradient: mat.get-color-from-palette($accent-palette, 50);
$registration-buttons-color: mat.get-color-from-palette($primary-palette, main);
$registration-buttons-color2: mat.get-color-from-palette($accent-palette, darker);

.login-container {
  margin: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

.login-bg {
  background-size: cover;
  //background-image: linear-gradient(to bottom, $top-gradient, $bottom-gradient);
}

.registration-section-header {
  border-bottom: black 2px dotted;
}

section {
  margin-bottom: 3em;
  padding-bottom: 1em;
}

.registration-mode {
  cursor: pointer;
  border: $registration-buttons-color 2px solid;
  border-radius: 2%;
  min-width: fit-content;
  width: calc(50% - 256px);
  height: calc(100% - 256px);
  padding: 2em;

  &,
  & a {
    color: $registration-buttons-color2;
    background-color: global.$light-bg-darker-5;
    text-decoration: none;
  }

  & img {
    width: 256px;
    height: 256px;
  }

  &__applicant {
    @extend .registration-mode;

    img {
      margin-left: 1rem;
    }
  }

  &__employer {
    @extend .registration-mode;
  }
}

$linkedin-color: #007fb1;
.linkedin-signup-button {
  background-color: $linkedin-color;
  color: white;
  border: none;
  border-radius: 0.33rem;
  box-sizing: border-box;
  margin: 1em;
  padding-right: 0.75rem;

  img {
    width: 2rem;
    height: 2rem;
  }
  span {
    vertical-align: sub;
    line-height: 2.3;
  }

  &:active {
    background-color: darken($linkedin-color, 5%);
  }
}
