@use 'SASS:map';
@use '@angular/material' as mat;
@use 'theming.scss';

@include mat.core();

$color-config: mat.get-color-config(theming.$theme);
$primary-palette: map.get($color-config, 'primary');
$body-bg-color: mat.get-color-from-palette($primary-palette, main);
$fg-palette: map.get($color-config, 'foreground');
$dimmer-color: mat.get-color-from-palette($fg-palette, accent-text);

@include mat.all-component-themes(theming.$theme);

@import '../node_modules/angular-calendar/css/angular-calendar.css';
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow:
    0 0 0 0.1rem white,
    0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  overflow: scroll;
}

html,
body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  @include theming.body-theme-values;
  background-color: $body-bg-color;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: visible;
}

app-root-home body, app-root body {
  display: flex;
  flex-direction: column;
}
main.app-root-home {
  flex-grow: 1;
  margin-bottom: 5em;
}
app-login-page {
  flex-grow: 1;
}

footer.copyright-footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: theming.$light-background;
  border: 1px theming.$light-background solid;

  p {
    text-align: center;
    font-size: xx-small;
  }
}

h1,
h2,
h3,
h4,
.mat-expansion-panel-header-title {
  font-family: GTAmericaBlack !important;
  text-transform: uppercase !important;
}

button, a.mat-flat-button {
  font-family: GTAmericaMedium !important;
  text-transform: uppercase !important;

  & > * {
    font-family: GTAmericaMedium !important;
    text-transform: uppercase !important;
  }
}

ngx-loading-bar {
  @include theming.loading-bar-values;
}

#loading-dimmer,
div.loading-dimmer {
  z-index: 9001;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 44%;
  background: linear-gradient(180deg, theming.$loading-spinner, $dimmer-color 45%, transparent 100%);
  pointer-events: none;

  &__inactive {
    display: none;
  }
}

// Spinner that shows before Angular app is bootstrapped
#preLoadSpinner {
  @include theming.loading-bar-values;

  animation: 2s linear infinite svg-animation;
  max-width: 100px;

  circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: var(--loading-spinner-10-color);
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
  }
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes circle-animation {
  0% {
    stroke-dashoffset: 75;
  }

  50% {
    stroke-dashoffset: 280;
  }
}
