@use 'SASS:map';
@use '@angular/material' as mat;
@use 'theming.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();

$color-config:    mat.get-color-config(theming.$theme);
$primary-palette: map.get($color-config, 'primary');
$body-bg-color: mat.get-color-from-palette($primary-palette, main);
$fg-palette: map.get($color-config, 'foreground');
$dimmer-color: mat.get-color-from-palette($fg-palette, accent-text);

@include mat.all-component-themes(theming.$theme);

@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  @include theming.body-theme-values;
  background-color: $body-bg-color;
}

h1, h2, h3, h4, .mat-expansion-panel-header-title {
  font-family: GTAmericaBlack !important;
  text-transform: uppercase !important;
}

button {
  font-family: GTAmericaMedium !important;
  text-transform: uppercase !important;

  & > * {
    font-family: GTAmericaMedium !important;
    text-transform: uppercase !important;
  }
}

ngx-loading-bar {
  @include theming.loading-bar-values;
}

#loading-dimmer, div.loading-dimmer {
  z-index: 9001;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 44%;
  background: linear-gradient(180deg, theming.$loading-spinner, $dimmer-color 45%, transparent 100%);
  pointer-events: none;

  &__inactive {
    display: none;
  }
}
