<div class="container applicants-picker">
    <div class="row">
        <div class="col applicant-container" *ngFor="let applicant of applicants; index as i">
            <cmp-applicant [isRejected]="applicant.rejected ?? false" [pickerIndex]="i" [applicant]="applicant" (applicantPicked)="onPickApplicant($event)"></cmp-applicant>
        </div>
        <div class="col applicant-container" *ngIf="applicants.length === 0">
            <p class="no-applicants-msg">No applicants found.</p>
        </div>
    </div>
</div>
