@use '../../../styles/layouts.scss';

.applicant {
    @include layouts.flex(true);

    .applicant-name, .applicant-photo {
        align-self: center;
    }
}

.applicant-photo, .rejected-applicant {
    width: 4.0em;
    height: 4.0em;
    border-radius: 50%;
}

.rejected-applicant {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
