@use '../../../styles/layouts.scss';

.applicant {
    @include layouts.flex(true);

    .applicant-name, .applicant-photo {
        align-self: center;
    }
}

.applicant-photo {
    width: 4.0em;
    height: 4.0em;
    border-radius: 50%;
}
