<div class="side-menu mat-app-background">
    <section class="expand-collapse">
        <div class="icon-container">
            <span>
                <img
                    src="assets/sm-collapse.svg"
                    alt="Collapse"
                    title="Collapse Menu"
                />
            </span>
        </div>
    </section>
    <section *ngFor="let section of _menuSections; index as i">
        <div *ngFor="let item of section.items; index as j" (click)="setActiveMenuItem(i, j)" [routerLink]="[item.route]">
            <div [style.display]="isActiveMenuItem(i, j) ? 'block' : 'none'" class="active-item"></div>
            <div class="section-text-container">
                <span class="menu-text">{{ item.text }}</span>
            </div>
            <div class="icon-container">
                <span>
                    <img
                        [attr.src]="item.image"
                        [attr.alt]="item.imageHint"
                        [attr.title]="item.imageHint"
                    />
                </span>
            </div>
        </div>
    </section>
</div>