@use '../../../styles/home-common.scss' as home;

@include home.under-toolbar;

mat-card {
  @include home.card-appearance;
}

.dashboard-container {
  display: flex;
  padding: 0.5em 0.75em;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.5em;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100%;
}

.tasks-card,
.messages-card {
  height: 23.125em;
  min-width: 24.375em;
  flex-grow: 1;

  mat-card-content {
    height: 21em;
  }

  cmp-view-list-panel {
    height: 100%;
    display: block;
  }
}

.interviews-card {
  width: 100%;
  height: 25em;
  flex-grow: 1;
}
