@use '../styles/layouts.scss';

.home-container {
    @include layouts.flex(false);
    
    min-height: 100%;
    height: 100%;
}

.positions-card, .details-card {
    min-width: 48%;
}
.positions-card + .details-card {
    margin-left: 2rem;
}
