<cmp-employer-toolbar></cmp-employer-toolbar>
<div class="container home-container under-toolbar">
    <mat-card [ngClass]="'positions-card'" appearance="outlined">
        <mat-card-header><h1>All Positions:</h1></mat-card-header>
        <mat-card-content>
            <cmp-job-list [jobs]="this.jobs" (selectedJob)="onSelectJob($event)"></cmp-job-list>
        </mat-card-content>
    </mat-card>
    <mat-card [ngClass]="'details-card'" appearance="outlined">
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>
