<cmp-employer-toolbar [(currentSelected)]="this.currentSelectedToolbarItem"></cmp-employer-toolbar>
<div *ngIf="this.currentSelectedToolbarItem === this.ITEM_JOBLIST" class="container home-container under-toolbar">
    <mat-card [ngClass]="'positions-card'" appearance="outlined">
        <mat-card-header><h1>All Positions:</h1></mat-card-header>
        <mat-card-content>
            <cmp-job-list [jobs]="this.jobs" (selectedJob)="onSelectJob($event)"></cmp-job-list>
        </mat-card-content>
    </mat-card>
    <mat-card [ngClass]="'details-card'" appearance="outlined">
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>
<app-new-job-page *ngIf="this.currentSelectedToolbarItem === this.ITEM_POSTNEW"></app-new-job-page>
