<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mat-app-background border-bottom box-shadow mb-3"
  >
    <div class="container">
      <cmp-branding-container configEntry="navBrandingImage">
        <a class="navbar-brand" branding-none-default [routerLink]="['/']">Matthew's ATS</a>
        <img class="navbar-brand" branding-with-brand [routerLink]="['/']" title="Powered by Matthew's ATS" />
      </cmp-branding-container>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
        [ngClass]="{ 'nav-items__hide': hideNavItems }"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded, 'nav-items__hide': hideNavItems }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']"
              ><span class="emphasis">Home &#124; {{this.homeTitle | titlecase }}</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" (click)="performLogout()"
              ><span class="emphasis">Log Out, {{this.homeUser}}</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
