<div class="session-menu-container" [matMenuTriggerFor]="menu" aria-label="Session Menu">
    <cmp-avatar
        [avatarName]="userFullName"
        [avatarImage]="userProfilePic"
    >
    </cmp-avatar>
    <span class="user-name-text">{{ userFullName | titlecase }}</span>
    <svg class="expand-menu" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <mask id="mask0_48_128" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" />
        </mask>
        <g mask="url(#mask0_48_128)">
            <path d="M12 15.375L6 9.37501L7.4 7.97501L12 12.575L16.6 7.97501L18 9.37501L12 15.375Z" />
        </g>
    </svg>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="clickLogout.emit()">
        <div class="session-menu-width"></div>
        <span>Log Out</span>
    </button>
</mat-menu>
