@use 'sass:map';
@use '@angular/material' as mat;
@use '../styles/text.scss';
@use '../../theming.scss';

@include text.emphasis;

$config: mat.get-color-config(theming.$theme);
$primary-palette: map.get($config, 'primary');
$hover-color: mat.get-color-from-palette($primary-palette, lighter);
$border-color: mat.get-color-from-palette($primary-palette, darker-2);

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

img.navbar-brand {
  max-height: 50px;
  cursor: pointer;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header {
  border-bottom: 2px solid $border-color;
}
nav.navbar {
  border-bottom: 2px solid theming.$light-bg-borderline;
}

li.nav-item {
  &:hover {
    background-color: $hover-color;
  }
  a {
    cursor: pointer;
  }
}

a.navbar-brand,
a.nav-link {
  font-family: GTAmericaMedium !important;
}

div.nav-items,
button.nav-items {
  &__hide {
    display: none !important;
  }
}
