@use 'layouts.scss';

@mixin home-container { 
    .home-container {
        @include layouts.flex(false);
        
        min-height: 100%;
        height: 100%;
        padding-bottom: 4em;
    }
}

@mixin cards {
    .positions-card, .details-card {
        min-width: 48%;
    }
    .positions-card + .details-card {
        margin-left: 2rem;
    }

    .details-card mat-card-content {
        height: 100%;
    }
}

@mixin under-toolbar {
    .under-toolbar {
        margin-top: 0.5rem;
    }
}
