@font-face {
  font-family: GTAmericaBlack;
  src: url(assets/GT-America-Compressed-Black-Trial.otf) format('opentype');
}
@font-face {
  font-family: GTAmericaMedium;
  src: url(assets/GT-America-Condensed-Medium-Trial.otf) format('opentype');
}
@font-face {
  font-family: GTAmericaRegular;
  src: url(assets/GT-America-Condensed-Regular-Trial.otf) format('opentype');
}
@font-face {
  font-family: GTAmericaUltraLight;
  src: url(assets/GT-America-Condensed-Ultra-Light-Trial.otf) format('opentype');
}
